$icomoon-font-family: 'connect-icons' !default;

$icon-group: '\e953';
$icon-arrow-forward-outline: '\e904';
$icon-arrow-down-outline: '\e906';
$icon-arrow-back-outline: '\e957';
$icon-camera-outline: '\e95f';
$icon-contacts: '\e959';
$icon-activity: '\e900';
$icon-book-open: '\e95a';
$icon-check: '\e95b';
$icon-check-circle: '\e964';
$icon-chevron-down: '\e907';
$icon-chevron-left: '\e908';
$icon-chevron-right: '\e909';
$icon-chevron-up: '\e90b';
$icon-chevrons-left: '\e90c';
$icon-chevrons-right: '\e90d';
$icon-edit: '\e901';
$icon-edit-3: '\e965';
$icon-file: '\e960';
$icon-home: '\e90a';
$icon-layout: '\e911';
$icon-lock: '\e902';
$icon-log-in: '\e966';
$icon-log-out: '\e967';
$icon-mail: '\e90e';
$icon-map-pin: '\e90f';
$icon-maximize: '\e910';
$icon-menu: '\e913';
$icon-message-circle: '\e914';
$icon-minimize: '\e912';
$icon-minus: '\e968';
$icon-more-horizontal: '\e961';
$icon-more-vertical: '\e962';
$icon-phone-outgoing: '\e91b';
$icon-plus: '\e91f';
$icon-plus-circle: '\e920';
$icon-power: '\e95e';
$icon-save: '\e923';
$icon-search: '\e925';
$icon-server: '\e927';
$icon-settings: '\e928';
$icon-speaker: '\e963';
$icon-unlock: '\e903';
$icon-user: '\e92e';
$icon-users: '\e933';
$icon-x: '\e905';
$icon-x-circle: '\e969';
$icon-zoom-in: '\e934';
$icon-zoom-out: '\e935';
$icon-clock: '\e937';
$icon-search1: '\e93b';
$icon-envelope: '\e93d';
$icon-bubble: '\e93e';
$icon-user1: '\e940';
$icon-users1: '\e941';
$icon-folder: '\e945';
$icon-cog: '\e947';
$icon-book: '\e949';
$icon-eye: '\e926';
$icon-eye-hidden: '\e924';
$icon-target: '\e950';
$icon-printer: '\e95c';
$icon-alert-octagon: '\e918';
$icon-zoom-outline: '\e915';
$icon-clipboard: '\e916';
$icon-folder-open-o: '\e919';
$icon-folder-o: '\e91a';
$icon-export: '\e91c';
$icon-arrow-sync: '\e91d';
$icon-arrow-loop: '\e91e';
$icon-thumbsdown: '\e921';
$icon-thumbsup: '\e922';
$icon-spinner: '\e97b';
$icon-telegram: '\ea95';
$icon-bin: '\e9ac';
$icon-shield: '\e9b4';
$icon-coin-dollar: '\e93c';
