@use './reset.scss';
@use './normalize.scss';
@use './variables.scss';
@use '../icons/connect-icons.scss';

* {
  font-family: 'Roboto', sans-serif;
  font-optical-sizing: auto;
  font-size: 16px;
  font-weight: 400;
}

body {
  background-color: rgba(249 250 251);
}

main {
  min-height: 100vh;
}

.form__link {
  color: $form-link-color;
  font-weight: 300;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  margin: 4px 0;
}

.success-message {
  color: green;
  text-align: center;
  margin-top: 10px;
}

.error-message {
  color: red;
  text-align: center;
  margin-top: 10px;
}
