$main-color: #2563eb;
$bg-card-color: #ffffff;
$help-color: #686868;
$light-color: #ffffff;
$light-grey-color: #f0f0f04f;
$dark-color: #111827;
$form-link-color: #2563eb;
$danger-color: #ff5449;
$success-color: #26cc37;

$dropdown-bg: #ffffff;
$dropdown-border: #f0f0f0;
$dropdown-bg-hover: #fafafa;

$border-light: #f0f0f0;
$border-light-grey: #dcdcdc;

$main-gradient-color: linear-gradient(to right, #2563eb 20%, #686868 80%);

$box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);

//layout
$header-background: rgba(255, 255, 255, 0.5);
$sidebar-background: #111827;
$sidebar-hover: #374151;

$footer-background: linear-gradient(10deg, #dcdcdc, #ffffff);

//buttons
$btn-primary: #2563eb;
$btn-primary-disabled: #93c5fd;
$btn-primary-active: #1e40af;

$btn-secondary: $btn-primary;
$btn-secondary-disabled: $btn-primary-disabled;
$btn-secondary-active: $btn-primary-active;

$btn-danger: #ff5449;
$btn-danger-disabled: #ffb4ab;
$btn-danger-active: #ba1a1a;

$btn-success: #26cc37;
$btn-success-disabled: #71ff7f;
$btn-success-active: #008b0e;

$icon-gray: #6f6c6c;
