
$main-color: #2563EB;
$bg-card-color: #FFFFFF;
$text-help: #686868;
$light-color: #FFFFFF;
$dark-color: #111827;
$form-link-color: #2563EB;
$danger: #FF5449;

$dropdown-bg: #FFFFFF;
$dropdown-border: #f0f0f0;
$dropdown-bg-hover: #fafafa;

$border-light: #f0f0f0;

$box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);

//layout
$header-background: rgba(255, 255, 255, 0.5);
$sidebar-background: #111827;
$sidebar-hover: #374151;

//buttons
$btn-primary: #2563EB;
$btn-primary-disabled: #93C5FD;
$btn-primary-active: #1E40AF;

$btn-secondary: $btn-primary;
$btn-secondary-disabled: $btn-primary-disabled;
$btn-secondary-active: $btn-primary-active;

$btn-danger: #FF5449;
$btn-danger-disabled: #FFB4AB;
$btn-danger-active: #BA1A1A;

$btn-success: #26CC37;
$btn-success-disabled: #71FF7F;
$btn-success-active: #008B0E;

$icon-gray: #6f6c6c;