
$main-color: #1677FF;
$bg-card-color: #FFFFFF;
$text-help: #686868;
$light-color: #FFFFFF;
$form-link-color: #1677FF;

$btn-primary: #2563EB;
$btn-primary-disabled: #93C5FD;
$btn-primary-active: #1E40AF;

$btn-danger: #FF5449;
$btn-danger-disabled: #FFB4AB;
$btn-danger-active: #BA1A1A;

$btn-success: #26CC37;
$btn-success-disabled: #71FF7F;
$btn-success-active: #008B0E;